version: '3.8'

services:
  seq:
    image: datalust/seq:latest
    container_name: wxseq
    ports:
      - "5341:5341"
      - "8082:80"
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - seq_data:/data
    networks:
      - wx-network

  db:
    container_name: wx-db
    image: postgres:latest
    environment:
      - POSTGRES_DB=wx
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - wx-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  wx.api:
    image: ${DOCKER_REGISTRY-}wxapi
    build:
      context: .
      dockerfile: src/wx.Api/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - E:/project/data:/app/data
      - E:/project/files:/app/files
      - E:/project/images:/app/images
    environment:
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/main.db
      - FileStorage__ImagePath=/app/images
      - SEQ_SERVER_URL=http://seq:5341
    depends_on:
      db:
        condition: service_healthy
    networks:
      - wx-network

volumes:
  postgres_data:
  seq_data:

networks:
  wx-network:
    driver: bridge